*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logoBranding{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;

}

.cardHighlight{
	min-height: 100%;
}

.input1{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-right: 10px;
   border-radius: 8px;

}
.input2{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-right: 10px;
   border-radius: 8px;
 
}
.input3{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-right: 10px;
   border-radius: 8px;
}
.input4{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-right: 10px;
   border-radius: 8px;
}
.center{
	text-align: center;
	margin: auto;
  	width: 50%;
 	padding: 10px;
}

